<div>
    <form role="form">
        <h3>Edit Info here...</h3>
        <div class="form-group">
            <label>Username</label>
            <input type="text" ng-model="selectedUser.Username" readonly class="form-control" /> 
        </div>


        <div class="form-group">
            <label>Password</label>
            <input type="text" ng-model="selectedUser.Password" readonly class="form-control" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" ng-model="selectedUser.email" class="form-control" />
        </div>

        <div class="form-group">
            <label>Mobile</label>
            <input type="text" ng-model="selectedUser.Mobile" class="form-control" />
        </div>

        <div class="form-group">
            <label>Gender</label>
            <input type="radio" name="Gender" value="Male" ng-model="selectedUser.Gender" />Male &nbsp;&nbsp;
            <input type="radio" name="Gender" value="Female" ng-model="selectedUser.Gender" />Female &nbsp;&nbsp;
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="updateUser()">Submit</button>
        </div>
    </form>
</div>